Q1  Whrite a program to print all prime numbers that fall in between two numbers including both (accept two numbers from the users)

In [3]:

num1=int(input('enter the number1'))
for i in range(2,num1+1):
    k=0
    for j in range(2,i):
        if i%j==0:
            k=1
            break

    if k==0:
        print(i,end='  ')

enter the number1 100

2  3  5  7  11  13  17  19  23  29  31  37  41  43  47  53  59  61  67  71  73  79  83  89  97

Q2  ABCD PATTERN :-

In [10]:
ord('A')

65

In [12]:
chr(l)

'A'

In [5]:
l=65
for i in range(1,6):
     for j in range(1,i+1):
       print(chr(l),end='')
       l=l+1
     print()

A
BC
DEF
GHIJ
KLMNO

In [14]:
l=65
n=int(input('enter the number'))
for i in range(n):
     for j in range(i+1):
       print(chr(l+j),end='')
       
     print()

enter the number 5

A
AB
ABC
ABCD
ABCDE

In [15]:
l=65
n=int(input('enter the number'))
for i in range(n):
     for j in range(i+1):
       print(chr(l+i),end='')
       
     print()

enter the number 5

A
BB
CCC
DDDD
EEEEE

Q3

In [4]:
sample='how are you?'      #convert this into .title format without using title function.
                            # then convert it into a string.

In [5]:
sample.title()

'How Are You?'

In [6]:
#ANS

In [7]:
x=sample.split()
print(x)

['how', 'are', 'you?']

In [8]:
for i in x:
    print(i.capitalize())

How
Are
You?

In [9]:
list1=[]

In [10]:
for i in x:
    list1.append(i.capitalize())

In [11]:
list1

['How', 'Are', 'You?']

In [18]:
' '.join(list1)

'How Are You?'

Q4  remove the duplicat values.

In [19]:
list=[1,1,2,2,3,3,4,4,5,1]

In [20]:
list1=[]

In [21]:
for i in list:
    if i not in list1:
        list1.append(i)

print(list1)

[1, 2, 3, 4, 5]

Q5 remove the name before @ .

In [22]:
sample='ankit@gmail.com'

In [26]:
print(sample[:sample.index('@')])

ankit

In [27]:
example='ayush@gmail.com'

In [28]:
example[:example.index('@')]

'ayush'

Q6  Write a function that counts the occurrences of each element in a tuple using a loop.

In [2]:
tuple=(1,2,3,4,5,4,3,4,2,5,3,5,2)
count={}   #empty dictionary
for item in tuple:
    if item in count:
        count[item]=count[item]+1
    else:
        count[item]=1

print(count)

{1: 1, 2: 3, 3: 3, 4: 3, 5: 3}

Q7  Write a function that generates combinations of all possible lengths from a given 
list.
print(all_combinations([1, 2, 3])) 




 Output: [(), (1,), (2,), (3,), (1, 2), (1, 3), (2, 3), (1, 2, 3)]

Q8 Accessing List/Tuple Elements via Loop     
ENUMERATE FUNCTION

In [1]:
numbers=(10,20,30,40)
for index,num in enumerate(numbers):
    print(f'index:{index},value:{num}')

index:0,value:10
index:1,value:20
index:2,value:30
index:3,value:40

Q9 ZIP FUNCTION

In [2]:
names=['ankit','anuj','anurag']
ages=(12,13,14)
for name, age in zip(names,ages):
    print(f'name:{name}, age:{age}')

name:ankit, age:12
name:anuj, age:13
name:anurag, age:14

Q10 BOTH ENUMERATE AND ZIP FUNCTION

In [3]:
fruits=['apple','banana','cherry']
quantities=(5,10,15)
for index, (fruit,quantity) in enumerate(zip(fruits, quantities)):
    print(f'index:{index}, fruit:{fruit},quantity: {quantity}')

index:0, fruit:apple,quantity: 5
index:1, fruit:banana,quantity: 10
index:2, fruit:cherry,quantity: 15

Summary:
The enumerate() function provides both the index and the value while iterating through a list or tuple.
The zip() function allows you to iterate over multiple iterables simultaneously, and you can access elements from each iterable in parallel.
You can combine enumerate() and zip() to track the index while iterating through multiple iterables together.

Q11 Write a program that appends the square of each element 
in a list to the end of the same list using a for loop.

In [1]:
num=[1,2,3,4]
length=len(num)
for i in range(length):
    square=num[i]**2
    num.append(square)

print(num)

[1, 2, 3, 4, 1, 4, 9, 16]

In [2]:
# other method
num=[1,2,3,4]
length=len(num)
for i in range(1,length+1):
    square=i**2
    num.append(square)

print(num)

[1, 2, 3, 4, 1, 4, 9, 16]

In [3]:
num=[1,2,3,4]
length=len(num)

for i in range(length):
    print(num[i])

1
2
3
4

Q12 Write a program that iterates over a set of integers and adds 10 to each element. Explain if this is possible and why.

#ANS
How it works:         
We can't change the set elements directly, so we create a new set called updated_numbers.     
We go through each number in the numbers set, add 10 to it, and store the result in the new set.       
At the end, updated_numbers contains all the original numbers, but each one is increased by 10.

In [4]:
s={1,2,3,4,5}
s1=set() 
for i in s:
    s1.add(i+10)

print(s1)

{11, 12, 13, 14, 15}

Q13 Given a list of lists, write a program to iterate over each inner list and increment each element by 1.

In [23]:
list=[[1,2,3],[4,5,6],[7,8,9]]

for i in list:
    for j in range(len(i)):
        i[j]+=1

print(list)

[[2, 3, 4], [5, 6, 7], [8, 9, 10]]

In [25]:
list=[[1,2,3],[4,5,6],[7,8,9]]
l=[]
for i in list:
    for j in i:
        l.append(j+1)

print(l)

[2, 3, 4, 5, 6, 7, 8, 9, 10]

Q14 Given a dictionary, write a program to iterate over it and increase each value by 5.

In [9]:
scores={'ankit':88,'anuj':77,'anny':78}
for i in scores:
    scores[i]=scores[i]+5

print(scores)

{'ankit': 93, 'anuj': 82, 'anny': 83}

Q15 Write a Python program to flatten a list of lists using nested for loops.

In [10]:
list4=[[1,2,3],[4,5,6],[7,8,9]]
list=[]
for i in list4:
    for j in i:
        list.append(j)

print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Q16 Write a Python program to find and print duplicates in a list using a for loop and a set.

In [26]:
list=[1,2,3,2,4,5,1,6]
present=set()
duplicate=set()
for i in list:
    if i in present:
        duplicate.add(i)    # If the number is already in present, add it to duplicates
    else:
         present.add(i)    # Otherwise, add it to present

print(duplicate)
print(present)

{1, 2}
{1, 2, 3, 4, 5, 6}

In [15]:
n=int(input('enter the number'))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end='')
    for j in range(i-1,0,-1):
        print(j,end='')    
    print()

enter the number 5

1
121
12321
1234321
123454321

In [32]:
n=int(input('enter the number'))
for i in range(n):
    for j in range(i+1):
        print(j+1,end='')
    for j in range(i,0,-1):
        print(j,end='')    
    print()

enter the number 5

1
121
12321
1234321
123454321

find second large number in a list

In [7]:
l=[1,2,3,4,5]
first_large=l[0]
sec_large=float('-inf')      # inititalizing with negative infinity
for i in l:
    if i>first_large:
        sec_large=first_large
        first_large=i
    elif i>sec_large and i!=first_large:
        sec_large=i

print(sec_large)

4

find second minimun number in a list

In [8]:
l=[1,2,3,4,5]
first_min=l[0]
sec_min=float('inf')    # inititalizing with positive infinity
for i in l:
    if i<first_min:
        sec_min=first_min
        first_min=i
    
    elif  i<sec_min and i!=first_min:
        sec_min=i

print(sec_min)

2

In [ ]:
# generate Pascal's Triangle

In [1]:
mylist=[]
for i in range(0,5):
    temp=[]
    for j in range(0,i+1):
        if(j==0 or j==i):
            temp.append(1)
        else:
            temp.append(mylist[i-1][j-1] + mylist[i-1][j])

    mylist.append(temp)


print(mylist)

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

In [ ]:
# generate Pascal's Triangle

In [2]:
l=[[1]]
n=5
for i in range(0,n-1):
    temp=[0]+l[-1]+[0]
    l1=[]
    for j in range(len(l)+1):
        l1.append(temp[j]+temp[j+1])

    l.append(l1)

print(l)

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

In [2]:
l=[]
n=int(input('enter the number'))
for i in range(0,n):
    l1=[]
    for j in range(0,i+1):
        if j==0 or j==i:
            l1.append(1)
        else:
            l1.append(l[i-1][j-1]+l[i-1][j])
    l.append(l1)
print(l)
for i in range(len(l)):  # Loop over each row
    # Print spaces to align the triangle
    for s in range(n - len(l[i])):
        print(" ", end="")

    # Print each element in the row
    for j in range(len(l[i])):
        print(l[i][j], end=" ")
    
    # Move to the next line after each row is printed
    print()

enter the number 4

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1]]
   1
  1 1
 1 2 1
1 3 3 1

In [13]:
l=[]
n=int(input('enter the number'))
for i in range(0,n):
    l1=[]
    for j in range(0,i+1):
        if j==0 or j==i:
            l1.append(1)
        else:
            l1.append(l[i-1][j-1]+l[i-1][j])
    l.append(l1)
print(l)
for i in range(len(l)):
    for s in range(n-len(l[i])):
        print(' ',end='')
    for j in range(len(l[i])):
        print(l[i][j],end='')
    print()

enter the number 5

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]
    1
   11
  121
 1331
14641

####