In [1]:
n=int(input('enter the number'))
for i in range(n):
    for j in range(i+1):
        print(j+1,end='')
    print()

enter the number 5

1
12
123
1234
12345

In [3]:
n=int(input('enter the number'))
i=1
while i>n:
    print(i)
    i+=1

enter the number 10

In [16]:
age=2
age**3
age=age**4
age

16

In [27]:
age=int(input('enter the age'))
if (age>=18):
    print(True)
else:
    print(False)

enter the age 14

False

In [34]:
age=int(input('enter the age'))
if (age>=18):
    print('Adult')
elif (age>=15):
    print('young')
else:
    print('child')

enter the age 19

Adult

In [37]:
n=int(input('enter the age'))
if (n>0):
    print('positive')
elif(n<0):
    print('negative')
else:
    print('zero')

enter the age 0

zero

In [9]:
n=int(input('enter the number'))
city=input('enter your city')
if (n>18):
    print('age is greater than 18')
    if (city=='jaipur'):
        print('belongs to jaipur')
    else:
        print('not belongs to jaipur')
else:
    print('child')

enter the number 19
enter your city jodhpur

age is greater than 18
not belongs to jaipur

In [12]:
n=int(input('enter the number'))
if (n%2!=0):
    print('odd number')
    if (n%5==0 and n%11==0):
        print('divisible to 5 and 11')
    else:
        print('not divisible by 5 and 11')
else:
    print('even number')

enter the number 2

even number

In [16]:
x=0
for i in range(2,10):
    x+=i
    print(x)

2
5
9
14
20
27
35
44

In [18]:
for i in range(1,21):
    if (i%2==0):
        print(i)

2
4
6
8
10
12
14
16
18
20

In [19]:
x=10
total=0
while (x<19):
    total+=x
    print(total)
    x+=1

10
21
33
46
60
75
91
108
126

In [1]:
n=int(input('enter the number'))
for i in range(n):
    for j in range(n):
        print("*",end=' ')
    print()

enter the number 5

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [4]:
n=int(input('enter the number'))
for i in range(n-1):
    for j in range(n):
        print('1',end='')
    print()

enter the number 4

1111
1111
1111

In [9]:
n=int(input('enter the number'))
for i in range(n-1):
    for j in range(n):
        print(i+1,end='')
    print()

enter the number 4

1111
2222
3333

In [10]:
n=int(input('enter the number'))
for i in range(n-1):
    for j in range(n):
        print(j+1,end='')
    print()

enter the number 4

1234
1234
1234

In [11]:
n=int(input('enter the number'))
for i in range(n,1,-1):
    for j in range(n):
        print(i,end='')
    print()

enter the number 4

4444
3333
2222

In [14]:
n=int(input('enter the number'))
for i in range(n):
    for j in range(n+2):
        print(j+10,end=' ')
    print()

enter the number 2

10 11 12 13
10 11 12 13

In [15]:
n=int(input('enter the number'))
for i in range(n):
    for j in range(i+1):
        print('1',end='')
    print()

enter the number 4

1
11
111
1111

In [16]:
n=int(input('enter the number'))
k=1
for i in range(n):
    for j in range(i+1):
        print(k,end='')
        k+=1
    print()

enter the number 4

1
23
456
78910

In [2]:
n=int(input('enter the number'))
for i in range(n):
    for j in range(n-i):
        print('*',end='')
    print()

enter the number 4

****
***
**
*

In [4]:
n=int(input('enter the number'))
for i in range(n):
    for j in range(n-i):
        print(j+1,end='')
    print()

enter the number 4

1234
123
12
1

In [11]:
n=int(input('enter the number'))
for i in range(n,0,-1):
    for j in range(i):
        print(i,end='')
    print()

enter the number 4

4444
333
22
1

In [12]:
k=1
n=int(input('enter the number'))
for i in range(n):
    for j in range(n-i):
        print(k,end='')
        k+=1
    print()

enter the number 4

1234
567
89
10

In [14]:
k=65

n=int(input('enter the number'))
for i in range(n):
    for j in range(n-i):
        print(chr(k),end='')
        k+=1
    print()

enter the number 4

ABCD
EFG
HI
J

In [17]:

n=int(input('enter the number'))
for i in range(n):
    for j in range(n-i):
        print(j+7,end='')
        
    print()

enter the number 4

78910
789
78
7

In [18]:
k=65
n=int(input('enter the number'))
for i in range(n):
    for j in range(n-i):
        print(chr(k+j),end='')
    print()

enter the number 4

ABCD
ABC
AB
A

In [21]:
k=65
n=int(input('enter the number'))
for i in range(n):
    for j in range(n-i):
        print(k+j,end=' ')
    print()

enter the number 4

65 66 67 68
65 66 67
65 66
65

In [23]:
k=20
n=int(input('enter the number'))
for i in range(n-1):
    for j in range(n-i):
        print(k,end=' ')
        k+=1
    print()

enter the number 4

20 21 22 23
24 25 26
27 28

In [39]:
k=90
n=int(input('enter the number'))
for i in range(n):
    for j in range(n-i):
        print(chr(k),end=' ')
    k-=1
    print()

enter the number 3

Z Z Z
Y Y
X

In [42]:
k=68
n=int(input('enter th number'))
for i in range(n):
    for j in range(i+1):
        print(chr(k),end='')
        k+=1
    print()

enter th number 4

D
EF
GHI
JKLM

In [45]:
k=2
n=int(input('enter the number'))
for i in range(n):
    for j in range(i+1):
        print(k*2,end=' ')
        k+=1
    print()

enter the number 3

4
6 8
10 12 14

In [47]:
k=2
n=int(input('enter the number'))
for i in range(n-1):
    for j in range(n-i):
        print(k,end=' ')
        k*=2
    print()

enter the number 4

2 4 8 16
32 64 128
256 512

In [50]:
n=int(input('enter the number'))
for i in range(n-1):
    for j in range(i+1):
        print('*',end='')
    print()
for i in range(n):
    for j in range(n-i):
        print('*',end='')
    print()

enter the number 4

*
**
***
****
***
**
*

In [53]:
n=int(input('enter the number'))
for i in range(n-1):
    for s in range(i):
        print(' ',end='')
    for j in range(n-i):
        print("*",end='')
    print()
for i in range(n):
    for s in range(n-i-1):
        print(' ',end='')
    for j in range(i+1):
        print('*',end='')
    print()

enter the number 4

****
 ***
  **
   *
  **
 ***
****

In [73]:
n=int(input('enter the number'))
for i in range(n):
    for s in range(n-i-1):
        print(' ',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    for j in range(1,i+1):
        print('*',end=' ')
    print()

enter the number 3

    *
  * * *
* * * * *

In [63]:
n=int(input('enter the number'))
for i in range(n):
    for j in range(i+1):
        if (j%2!=0):
            print('0',end='')
        else:
            print('1',end='')
    print()

enter the number 5

1
10
101
1010
10101

In [65]:
n=int(input('enter the number'))
for i in range(n):
    for j in range(i+1):
        if (i+j)%2==0:
            print('1',end='')
        else:
            print('0',end='')
    print()

enter the number 4

1
01
101
0101

In [77]:
n=int(input('enter the number'))
for i in range(n):
    for s in range(i):
        print(' ',end=' ')
    for j in range(n-i):
        print('*',end=' ')
    for j in range(n-i-1):
        print('*',end=' ')
    print()

enter the number 4

* * * * * * *
  * * * * *
    * * *
      *

In [81]:
n=int(input('enter the number'))
for i in range(n):
    for s in range(n-i-1):
        print(' ',end='')
    for j in range(i+1):
        print('*',end=' ')
    print()

enter the number 4

   *
  * *
 * * *
* * * *

In [19]:
n=int(input('enter the number'))

for i in range(n):
    for s in range(i):
        print(' ',end='')
    for j in range(n-i):
        print(j+1,end='')
    for j in range(n-i-1,0,-1):
        print(j,end='')
        
    print()

enter the number 5

123454321
 1234321
  12321
   121
    1

In [14]:
n=int(input('enter the number'))
for i in range(n):
    for j in range(n-i,0,-1):
        print(j,end='')
    print()

enter the number 3

321
21
1

In [28]:

n=int(input('enter the number'))
for i in range(n):
    for s in range(i):
        print(' ',end='')
    
    for j in range(i+1,n+1):
        print(j,end=' ')
        
    print()

enter the number 6

1 2 3 4 5 6
 2 3 4 5 6
  3 4 5 6
   4 5 6
    5 6
     6

In [31]:
n=int(input('enter the number'))
for i in range(n):
    for j in range(i+1,0,-1):
        print(j,end='')
    print()

enter the number 4

1
21
321
4321

In [37]:
n=int(input('enter the number'))
for i in range(n):
    for s in range(n-i-1):
        print(' ',end=' ')
    for j in range(i+1,0,-1):
        print(j,end=' ')
    for j in range(1,i+1):
        print(j+1,end=' ')
    print()

enter the number 4

      1
    2 1 2
  3 2 1 2 3
4 3 2 1 2 3 4

In [1]:
n=int(input('enter the number'))
for i in range(n):
    for s in range(n-i-1):
        print(' ',end=' ')
    for j in range(i+1):
        if i+j==(n-1) or i==n-1:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    for j in range(1,i+1):
        if i==j or i==n-1:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

enter the number 5

          *
        *   *
    *         *
* * * * * * * * *

In [52]:
n=int(input('enter the number'))
for i in range(n):
    for s in range(n-i-1):
        print(' ',end=' ')
    for j in range(i+1):
        if (i+j==n-1) or i==n-1:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

enter the number 5

        *
    *
* * * * *

In [21]:
mylist=[10,12,223,101,11,1] # find duplicate value
x=0
for i in range(0,len(mylist)):
    for j in range(i+1,len(mylist)):
        if mylist[i]==mylist[j]:
            x+=1
            break
if x==0:
    print('there is no duplicate value')
else:
    print('there is duplicate value')

there is no duplicate value

In [26]:
mylist=[10,12,10,101,11,11,10]   # duplicate values in a list
l=[]
for i in range(0,len(mylist)):
    for j in range(i+1,len(mylist)):
        if mylist[i]==mylist[j]:
            if mylist[i] not in l:
                
                l.append(mylist[i])
print(l)

[10, 11]

In [40]:
mylist=[100,12,10,111,11,11,108]      # max
max=mylist[0]
for i in range(0, len(mylist)):
    if mylist[i]>max:
        max=mylist[i]
   
    
        

print(max)

111

In [17]:
mylist=[50,10,20,33,22,40,50,36,19,35]     # second max
l=0
sec_l=0
for i in mylist:
    if i>l:
        sec_l=l
        l=i
    elif i>sec_l and i!=l:
        sec_l=i

sec_l

40

In [22]:
l=[2,11,11,6,7,8,8,8]              # 3 consicutive numbers.
for i in range(0,len(l)-2):
    if l[i]==l[i+1] and l[i+1]==l[i+2]:
        print(l[i])

8

In [2]:
l=[]          # valid parenthesis
x=0
for i in '{[]}':
    if i in '{[(':
        l.append(i)
    else:
        if (i=='}' and l.pop()!='{'):
            x+=1
            break
        elif (i==']' and l.pop()!='['):
            x+=1
            break
        elif (i==')' and l.pop()!='('):
            x+=1
            break
if x==0 and len(l)==0:
    print('valid parenthesis')
else:
    print('invalid parenthesis')

valid parenthesis

In [15]:
mylist=[[1]]   #pascal triangle
n=4
for i in range(n-1):
    temp=[0]+mylist[-1]+[0]
    l=[]
    for j in range(len(mylist)+1):
        l.append(temp[j]+temp[j+1])
    mylist.append(l)
print(mylist)

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1]]

In [13]:
mylist=[[1]]
x=4
for i in range(x-1):
    temp=[0]+mylist[-1]+[0]
    print(temp)
    l=[]
    for j in range(len(mylist)+1):
        l.append(temp[j]+temp[j+1])
    mylist.append(l)
print(mylist)

[0, 1, 0]
[0, 1, 1, 0]
[0, 1, 2, 1, 0]
[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1]]

In [1]:
mydictionary={10:'ankit',20:'aman',30:'sam'}
mydictionary

{10: 'ankit', 20: 'aman', 30: 'sam'}

In [3]:
mydictionary.update({40:'ayush'})
mydictionary

{10: 'ankit', 20: 'aman', 30: 'sam', 40: 'ayush'}

In [4]:
for i in mydictionary:
    print(i,mydictionary[i])

10 ankit
20 aman
30 sam
40 ayush

In [6]:
mydictionary[20]='jay'
mydictionary

{10: 'ankit', 20: 'jay', 30: 'sam', 40: 'ayush'}

In [9]:
dict={'x':1,'y':2,'z':3}
dict

{'x': 1, 'y': 2, 'z': 3}

In [10]:
dict['x']=dict['x']+4
dict

{'x': 5, 'y': 2, 'z': 3}

In [20]:
dict={'total':0}
for i in range(10,19):
    dict['total']=dict['total']+1
dict

{'total': 9}

In [2]:
d={'count':0}
x='heyuser'
for i in x:
    d['count']+=1
d

{'count': 7}

In [29]:
d={}
x='heyuser'
for i in x:
    if i in d:
        d[i]=d[i]+1
    else:
        d[i]=1
d

{'h': 1, 'e': 2, 'y': 1, 'u': 1, 's': 1, 'r': 1}

In [31]:
d={}
x='heyuser'
for i in x:
    d[i]=1
        
d

{'h': 1, 'e': 1, 'y': 1, 'u': 1, 's': 1, 'r': 1}

In [1]:
str='hey hello tushar aei'

d={'a':0,'e':0,'i':0,'o':0,'u':0}
for i in str:
    if i in d:
        d[i]+=1
   
d

{'a': 2, 'e': 3, 'i': 1, 'o': 1, 'u': 1}

In [4]:
str='hey juj hey htg hey hey hello hello'.split()
d={}
for i in str:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
d

{'hey': 4, 'juj': 1, 'htg': 1, 'hello': 2}

In [2]:
#List comprehension

mylist=[i for i in range(10,19)]
print(mylist)

[10, 11, 12, 13, 14, 15, 16, 17, 18]

In [ ]:
#Function
# reuse the block of code 
# help in code debugging

In [3]:
def hello():
    print('ankit')

hello()

ankit

In [4]:
hello()

ankit

In [6]:
def fun(x):
    print('hello user',x)

fun('ankit')

hello user ankit

In [7]:
def add(x,y):
    print(x+y)

add(3,5)

8

In [8]:
def add(x,y):
    z=x+y
    print(z)

add(3,5)

8

In [9]:
def add(x,y):
    z=x+y
   

add(3,5)
print(z)    # local variable ==> life scope of a variable.  this variable is local to the function
              # x,y,z all are local variable.

NameError: name 'z' is not defined

In [10]:
def add(x,y):
    z=x+y
   
print(z)     # because z is local variable it cannot be print outside the function (outside the intendation of the function).
add(3,5)

NameError: name 'z' is not defined

In [11]:
# parameter ---- username
def greeting(username):
    print('hey',username)

greeting('ankit')  # argument --- ankit

hey ankit

1). parameter - the variable that we have created inside the function or 
at the time of declaring the function is called parameter

2). argument - the value we provide while calling the function is argument.

In [12]:
y=10
def fun():
    global y
    print(y)
    y=20

fun()
print(y)

10
20

In [13]:
y=10
def fun():
    global y

    y=20

fun()
print(y)

20

In [16]:
y=10
def fun():
    global y
    
    y=20
    print(y)

fun()

20

In [17]:
def add(x,y):
    print(x+y)

a=100
b=20
add(a,b)

120

In [18]:
def add(x,y):
    print(x+y)

a=100
b=20
add(a,0)

100

In [19]:
def add(x,y):
    print(x+y)

    a=100
    b=20
add(a,b)

120

In [23]:
def pali(n):
    sum=0
    a=n
    while(n>0):
        rem=n%10
        sum=sum*10+rem
        n=n//10
    if sum==a:
        print('palindrome')
    else:
        print('not')

pali(1221)

palindrome

In [28]:
def prime(n):
    for i in range(2,n+1):
        k=0
        for j in range(2,i):
            if i%j==0:
                k=1
                break
        if k==0:
            print(i)
prime(13)

2
3
5
7
11
13

In [31]:
def fun(x):
    if x%2==0:
        return True
    else:
        return False

fun(10)

True

In [37]:
def fun(x):
    count=0
    for i in range(1,x+1):
        if x%i==0:
            count+=1
            if i != x//i:
                count+=1
            if count>=4: 
                return True
        else:
            return False

            
fun(10)

True

In [1]:
#first class function

In [2]:
def fun():
    return 'hello'

x=fun
x()

'hello'

In [3]:
fun()

'hello'

In [4]:
mylist=[10,fun]
mylist[1]()

'hello'

In [6]:
def fun(n):
    print(n**2)
x=fun(2)
print(x)

4
None

In [8]:
def square(n):
    print(n**2)

y=square                # this will print the memory addre of y  (here square and y both has same menmory address)
print('y',y)

y <function square at 0x00000276C640F7E0>

In [9]:
def square(num):
    print(num**2)   # because it does not return anything

def cube(x,y):
    print('x and y',x,y)

cube(10,square(4))

16
x and y 10 None

In [18]:
def square(num):
    print(num**2)

def cube(x,y):
    print('x and y',x,y)

cube(10,square)    # here y=square so, it has its memory address.

x and y 10 <function square at 0x00000276C64CAA20>

In [20]:
out=y(4) 
print(out)

16
None

In [21]:
def square(num):
    return (num**2)

def cube(x,y):
    print('x and y',x,y)
    out=y(x)*x
    print('out',out)

# all high order function ==> first class function.
cube(10,square)

x and y 10 <function square at 0x00000276C64CA980>
out 1000

In [22]:
# but all first class functions are not high order function.

In [24]:
# lambda function => annomyous function or one line function.
# lambda parameter : expression

In [27]:
abc=lambda num: num**2
abc(10)

100

In [41]:
str='hello hey world'.split()
a=lambda str: (str[0], str[-1])
a(str)

('hello', 'world')

In [46]:
# map function ==> logic, return
def fun(num):
    return num**2

xyz=map(fun,[10,20,30,40,50])
next(xyz)

100

In [47]:
next(xyz)

400

In [48]:
next(xyz)

900

In [59]:
def fun(num):
    return num**2

xyz=list(map(fun,[10,20,30,40,5]))
print(xyz)

[100, 400, 900, 1600, 25]

In [60]:
xyz=list(map(lambda num: num**2,[10,20,30,40,5]))
print(xyz)

[100, 400, 900, 1600, 25]

In [61]:
xyz=list(map(lambda num: num%2==0,[10,20,30,40,5]))
print(xyz)

[True, True, True, True, False]

In [63]:
xyz=list(filter(lambda num: num%2==0,[10,20,30,40,5]))  # only for the desired output
print(xyz)

[10, 20, 30, 40]