1. Write a Python program to find the maximum element in a list of numbers without
max functions   
numbers = [10, 20, 4, 45, 99]
The maximum element is: 99

In [2]:
numbers = [10, 20, 4, 45, 99]
max=0
for i in numbers:
    if i>max:
        max=i
print(max)

99

2. Write a Python program to sum all the elements in a list of numbers.                         
a. numbers = [10, 20, 30, 40]                               
b. The sum of all elements is: 100

In [4]:
numbers = [10, 20, 30, 40]
sum=0
for i in numbers:
    sum+=i
print(sum)

100

3. Write a Python program to reverse a list without reverse or slicing operator                          
a. numbers = [1, 2, 3, 4, 5]                       
b. Reversed list: [5, 4, 3, 2, 1]

In [6]:
numbers = [1, 2, 3, 4, 5]
i=0
j=len(numbers)-1
while(i<j):
    numbers[i],numbers[j]=numbers[j],numbers[i]
    i+=1
    j-=1
print(numbers)

[5, 4, 3, 2, 1]

4. Write a Python program to sort a list in ascending order without sort functions

In [6]:
l=[10,20,4,45,99]

5. Write a Python program to remove duplicates from a list while maintaining the order
of elements.                                            
a. numbers = [1, 2, 2, 3, 4, 4, 5]                                             
b. List after removing duplicates: [1, 2, 3, 4, 5]

In [7]:
numbers = [1, 2, 2, 3, 4, 4, 5]
l=[]
for i in numbers:
    if i not in l:
        l.append(i)

l

[1, 2, 3, 4, 5]

6. Write a Python program to find all pairs of numbers in a list that add up to a specific
target sum.                                                      
a. numbers = [1, 2, 3, 4, 3, 5, 6] target_sum = 6                        
b. Pairs that add up to 6: [(3, 3), (2, 4), (1, 5)]

In [12]:
numbers = [1, 2, 3, 4, 3, 5, 6]
numbers.sort()
target=6
l=[]
i=0
j=len(numbers)-1
while(i<j):
    if numbers[i]+numbers[j]==target:
        l.append((numbers[i],numbers[j]))
        i+=1
        j-=1
    elif numbers[i]+numbers[j]<target:
        i+=1
    else:
        j-=1
        
l

[(1, 5), (2, 4), (3, 3)]

7. Write a Python program to flatten a nested list (list within lists) into a single list.                                  
a. nested_list = [1, [2, 3], [4, [5, 6], 7], 8]                                            
b. Flattened list: [1, 2, 3, 4, 5, 6, 7, 8]

In [13]:
nested_list = [1, [2, 3], [4, [5, 6], 7], 8]

8. Write a Python program to find the sum of the elements in a list, excluding the largest                               
and smallest element. Donâ€™t use max or min functions                                          
a. numbers = [1, 2, 3, 4, 5]                                                  
b. Sum excluding the largest and smallest element: 9

In [19]:
numbers = [1, 2, 3, 4, 5]
sum=0
for i in range(1,len(numbers)-1):
    sum+=numbers[i]

sum

9

9. Write a Python program to check if a list is a palindrome (reads the same backward
as forward) using two pointer approach                                 
a. numbers = [1, 2, 3, 2, 1]                            
b. True

In [28]:
numbers = [1, 2, 3, 2, 1]
i=0
j=len(numbers)-1
flag=0
for i in range(len(numbers)):
    if numbers[i]!=numbers[j]:
        print(False)
        flag=1
        break
    i+=1
    j-=1

if flag==0:
    print(True)

True

10. Write a function to remove duplicate elements from a list.                              
a. numbers = [1, 2, 3, 2, 4, 5, 1, 6]                       
b. [1, 2, 3, 4, 5, 6]

In [29]:
numbers = [1, 2, 3, 2, 4, 5, 1, 6]

l=[]
for i in numbers:
    if i not in l:
        l.append(i)

l

[1, 2, 3, 4, 5, 6]

11. Find Common Elements in Two Lists                    
a. list1 = [1, 2, 3, 4, 5]                      
b. list2 = [3, 4, 5, 6, 7]                  
c. Result: [3, 4, 5]

In [30]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
l=[]
for i in list1:
    if i in list2:
        l.append(i)

l

[3, 4, 5]

12. Find the Longest Word in a List                             
a. words = ["apple", "banana", "strawberry", "kiwi"]                             
b. Strawberry

In [43]:
words = ["apple", "banana", "strawberry", "kiwi"]
lar=''
for i in words:
    if len(i)>len(lar):
        lar=i
    

lar

'strawberry'

13. Find Missing Number in a List

In [45]:
l=[1,2,4,5]
for i in range(1,6):
    if i not in l:
        print(i)

3

14. Find Missing Number in a List                                 
You are given a list of n-1 numbers in the range 1 to n. One number is missing
from the sequence. Find the missing number.                                           
a. numbers = [1, 2, 4, 5, 6]                                        
b. 3

In [46]:
numbers = [1, 2, 4, 5, 6]
for i in range(1,7):
    if i not in numbers:
        print(i)

3

15. Find the First Non-Repeating Element
Given a list of integers, find the first element that appears only once.                                                     
a. numbers = [4, 5, 1, 2, 0, 4, 5, 2]                                 
b. Expected Output: 1

In [55]:
numbers = [4, 5, 1, 2, 0, 4, 5, 2]
l=[]
l1=[]
for i in numbers:
    if i not in l:
        l.append(i)
    else:
        l1.append(i)

for i in l:
    if i not in l1:
        print(i)
        break

1

In [57]:
numbers = [4, 5, 1, 2, 0, 4, 5, 2]
count=0
for i in numbers:
    if numbers.count(i)==1:
        print(i)
        break

1

16. Move All Zeros to the End
Given a list of integers, move all zeros to the end while maintaining the relative order
of non-zero elements. Donâ€™t use any inbuilt functions                                       
a. numbers = [0, 1, 0, 3, 12]                               
b. [1, 3, 12, 0, 0]

In [72]:
numbers = [0, 1, 0, 3,12]
i=0
for j in range(1,len(numbers)):
    if numbers[i]==0 and numbers[j]!=0:
        numbers[i],numbers[j]=numbers[j],numbers[i]
        i+=1
        
numbers

[1, 3, 12, 0, 0]

17. Find Elements Greater Than Their Left Neighbor                    
a. numbers = [1, 3, 2, 6, 5, 8, 7]                                 
b. [3, 6, 8]

In [78]:
numbers = [1, 3, 2, 6, 5, 8, 7]
l=[]

for i in range(len(numbers)-1):
    j=i+1
    if numbers[i]<numbers[j]:
        l.append(numbers[j])
        
        

l

[3, 6, 8]

18. Find Triplets That Sum to Zero
Given a list of numbers, find all unique triplets (a, b, c) such that a + b + c = 0.                             
a. numbers = [-1, 0, 1, 2, -1, -4]                                
b. Expected Output: [(-1, -1, 2), (-1, 0, 1)]

In [12]:
numbers = [-1, 0, 1, 2, -1, -4]
numbers.sort()
l=[]
for i in range(len(numbers)-2):
    if i>0 and numbers[i]==numbers[i-1]:
        continue
    j=i+1
    k=len(numbers)-1
    while(j<k):
        if numbers[i]+numbers[j]+numbers[k]==0:
            l.append([numbers[i],numbers[j],numbers[k]])
            while(j<k and numbers[j]==numbers[j+1]):
                j+=1
            while(j<k and numbers[k]==numbers[k-1]):
                k-=1
            j+=1
            k-=1
        elif numbers[i]+numbers[j]+numbers[k]<0:
            j+=1
        else:
            k-=1
        
l

[[-1, -1, 2], [-1, 0, 1]]

In [ ]:
4,7